blockquote {
    @include font(_font(heading, font-family), _font(heading, font-weight), _font(heading, letter-spacing), _font(heading, line-height), _palette(text));

    border-left: solid 4px _palette(border);
    font-style: italic;
    padding: 0.5em 0 0.5em 2em;
    text-align: left;
}