input[type="text"], input[type="password"], input[type="email"], input[type="tele"], textarea {
     @include font(_font(text, font-family), _font(text, font-weight), _font(text, letter-spacing), _font(text, line-height), _palette(text));

    background: _palette(tint);
    border-radius: 5px;
    border: solid 2px _palette(border);
    display: block;
    font-size: 1em;
    resize: none;
    outline: 0;
    padding: .25em 1em;
    width: 100%;

    &:focus {
        border-color: desaturate(lighten(_palette(layout, accent), 6), 3);
    }
}

input[type="submit"], input[type="reset"], input[type="button"] {
     @include font(_font(element, font-family), _font(element, font-weight), _font(element, letter-spacing), _font(element, line-height), _palette(text));

    background-color: transparent;
    border-radius: 5px;
    border: solid 2px _palette(border);
    cursor: pointer;
    display: inline-block;
    font-size: .875em;
    margin: 2em 0 0 0;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none !important;
    text-transform: uppercase;

    &:hover {
        background-color: _palette(actions, hover-bg);
    }

    &:active {
        background-color: _palette(actions, active-bg);
    }

    @media screen and (max-width: _misc(breakpoint, small)){
        width: 100%;
    }
}