// Creates a rounded border around FontAwesome icon
.icon {
    align-items: center;
    border-radius: 100%;
    border: solid 2px _palette(border);
    display: flex !important;
    justify-content: center;
    font-family: FontAwesome;
    font-size: inherit;
    font-style: normal;
    font-weight: normal;
    height: inherit;
    margin: inherit;
    position: relative;
    text-decoration: none;
    text-transform: none;
    width: inherit;

    // moz, ms, webkit
    -moz-align-items: center;
    -ms-align-items: center;
    -webkit-align-items: center;
    display: -moz-flex;
    display: -ms-flex;
    display: -webkit-flex;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -webkit-justify-content: center;
}